<html>
    <head>
        <title>University Registrar</title>
    </head>
    <body>
        <h1>University Registrar</h1>
        <p>View courses <a href="/courses">here</a></p>
        <p>View students <a href="/students">here</a></p>
    </body>
</html>
